[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
SQLAlchemy = ">=1.3.0"
passlib = "*"
click = "*"
"e1839a8" = {path = ".", editable = true}
alembic = "*"

[requires]
python_version = "3.6"
